<section id="barberos" class="content-section">
    <h2>Nuestros Barberos</h2>
    <div class="card-container">
        <div class="barber-card">
            <img src="images/barbers/imagen servicios 1.png" alt="Barbero 1">
            <div class="card-content">
                <h3>Carlos</h3>
                <button class="btn-select-barber">Seleccionar</button>
            </div>
        </div>
        <div class="barber-card">
            <img src="images/barbers/imagen servicios 3.png" alt="Barbero 2">
            <div class="card-content">
                <h3>Javier</h3>
                <button class="btn-select-barber">Seleccionar</button>
            </div>
        </div>
        <div class="barber-card">
            <img src="images/barbers/imagen servicios 4.png" alt="Barbero 3">
            <div class="card-content">
                <h3>Miguel</h3>
                <button class="btn-select-barber">Seleccionar</button>
            </div>
        </div>
    </div>
</section>
