<section id="cortes" class="content-section">
    <h2>Nuestros Cortes</h2>
    <div class="card-container">
        <div class="service-card">
            <img src="images/cuts/Corte de la casa.jpg" alt="Corte de la casa">
            <div class="card-content">
                <h3>Corte de la Casa</h3>
                <p class="description">Un corte clásico y moderno adaptado a tu estilo, utilizando técnicas de tijera y máquina.</p>
                <p class="price">$20.000</p>
                <button class="btn-select">Seleccionar</button>
            </div>
        </div>
        <div class="service-card">
            <img src="images/cuts/Barba.jpg" alt="Arreglo de barba">
            <div class="card-content">
                <h3>Barba</h3>
                <p class="description">Diseño, arreglo y perfilado de barba con navaja, toallas calientes y aceites esenciales.</p>
                <p class="price">$10.000</p>
                <button class="btn-select">Seleccionar</button>
            </div>
        </div>
        <div class="service-card">
            <img src="images/cuts/Corte + barba .jpg" alt="Corte y barba">
            <div class="card-content">
                <h3>Corte + Barba</h3>
                <p class="description">El servicio completo. Disfruta de un corte de cabello y un arreglo de barba premium.</p>
                <p class="price">$25.000</p>
                <button class="btn-select">Seleccionar</button>
            </div>
        </div>
    </div>
</section>
